/* Estilo para el botón apagado */
.boton-apagado {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


.boton-encendido {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


.panel-estado-puerta {
  text-align: center;
  margin: 20px;
}
