/* Estructura general */
.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 40px;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
  }
  
  /* Caja izquierda (Formulario) */
  .login-box {
    max-width: 45%;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 26px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 20px;
    font-weight: bold;
    color: #4a90e2;
    margin-bottom: 15px;
  }
  
  .description {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .label {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .input:focus {
    border-color: #4a90e2;
    outline: none;
  }
  
  .login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .checkbox {
    margin-right: 8px;
  }
  
  .forgot-password {
    font-size: 14px;
    color: #4a90e2;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .login-button {
    width: 100%;
    padding: 15px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #357ABD;
  }
  
  /* Caja derecha (Logo) */
  .login-logo {
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  